# Compiled class file
*.class

# Log file
*.log

# Eclipse files
*.prefs
*.setup
*.db
*.xmi
*.lock
*.index
*.tree
*.history
*.resources
*.version
*.si
*.cfe
*.cfs
*.fdt
*.fdx
*.fnm
*.frq
*.nrm
*.prx
*.tii
*.tis
*.gen
*.ser
*\segments_1
/bin/


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metadata/
